<!-- Default home page -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/index_main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

<style> </style>
<script src="js/modernizr.js"></script>
<script>
    $(document).ready(function() {

        $("#team2").owlCarousel({

          autoPlay: false,

          items : 5,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]

      });

    });
    
</script>
<script type="text/javascript" src="js/index_main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!--Bootstrap-->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->
<script src="js/main.js"></script> <!-- Resource jQuery -->


<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">DECA McGill Delegate Portal</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="logout-choice" ><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div> <!-- end container -->
    </nav>

    <nav class="navbar top navbar-inverse" role="navigation">
        <br>
        <br>
        <div class="section-header">
            <h2>Welcome to our
                <h1 class="hidden-xs hidden-sm">DELEGATE PORTAL</h1><h7 class="hidden-lg">Deca McGill</h7>
                <h5><em>Networking - Leadership - Professional Development</em></h5>
                <div class="fancy hidden-xs hidden-sm"><span><img src="img/logos/logo.png" width="20%" alt="..."></span></div>
                <br><br>
            </div>
        </nav>
        <br>
        <br>
        <br>

  <!-- Welcome
  ================================================== -->
  <div id="intro">
    <div class="container"> <!-- container -->
        <div class="section-header sub"><h1>Welcome</h1></div>
        <div class="row"> <!-- row -->
            <div class="col-md-8 col-md-offset-2"> 
                <br><p>Welcome to the DECA McGill Delegate Portal. Here you can find information about up to date announcements and a list of our upcoming events. In addition, you also have access to free resources in the documents section. Please 
                    also take the opportunity to get in touch with other DECA McGill delegates through our delegate contact list.</p><br><br><br>
            </div>
        </div>
    </div> <!-- end row -->

  <!-- Announcements
  ================================================== -->
  <div id="register">
        <div class="container"> <!-- container -->
            <div class="section-header sub"><h1>Announcements</h1></div>
            <div class="row"> <!-- row -->
                <div class="col-md-8 col-md-offset-2"> 
                    <br>
                    <% for (var l = 0; l<announcements.length; l++) { %>   
                    <h3 align="left"><a class="white"><%= announcements[l].date %></a></h3>
                    <p align="left"><%= announcements[l].description %></p><br>
                    <% } %>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
  </div>

   <!-- Events
  ================================================== -->
  <div id="intro">
    <div class="container"> <!-- container -->
        <br>
        <div class="section-header sub"><h1>Upcoming Events</h1></div>
        <div class="row"> <!-- row -->
            <div class="col-md-8 col-md-offset-2"> 
                    <section id="cd-timeline" class="cd-container">

        <% for (var k = 0; k<events.length; k++) { %>                       
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2><%= events[k].name %></h2>
                <hr width="99%">
                <p style="color:#fff; text-align: left; font-size:12px;"><strong>Date:</strong> <%= events[k].date %> <br><strong>Time:</strong> <%= events[k].time %> <br><strong>Location:</strong> <%= events[k].location %> 
                    <br><strong>Description:</strong> <%= events[k].description %> </p><br>
                <a href="<%= events[k].facebookURL %>" class="cd-read-more">More Information</a>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <% } %>
    </section> <!-- cd-timeline -->
            </div>
        </div>
    </div><!-- end row -->


  <!-- Documents
  ================================================== -->
  <div id="register">
        <div class="container"> <!-- container -->
            <div class="section-header sub"><h1>Documents</h1></div>
            <div class="row"> <!-- row -->
                <div class="col-md-8 col-md-offset-2"> 
                    <br>
                     <% for (var j = 0; j<documents.length; j++) { %>
                    <h3 align="left"><a href=""class="white"><%= documents[j].name %></a></h3>
                    <p align="left"><%= documents[j].description %></p><br>
                    <% } %>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
  </div>


   <!-- Delegate Contact List
  ================================================== -->
  <div id="intro">
    <div class="container"> <!-- container -->
        <br>
        <div class="section-header sub"><h1>Delegate Contact List</h1></div>
        <div class="row"> <!-- row -->
            <div class="col-md-8 col-md-offset-2"> 
                <table>
                    <tr>
                        <td><h3 align="center"><a href=""class="white">Name</a></h3></td>
                        <td><h3 align="center"><a href=""class="white">Email</a></h3></td>
                    </tr>
                    <% for (var i = 0; i<users.length; i++) { %>
                    <tr>
                        <td><h3 align="center"><%= users[i].firstName %> <%= users[i].lastName %></h3></td>
                        <td><h3 align="right"><%= users[i].email %></h3></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div><!-- end row -->